legacy/workflows/discord-grok4-python-api.json
{
  "name": "Discord Grok4 Bot - Python API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grok4-python-api",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.author?.bot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bot-check",
      "name": "Is Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/process_discord_message",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "call-python-api",
      "name": "Call Python API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Bot message ignored"
            }
          ]
        },
        "options": {}
      },
      "id": "stop-bot",
      "name": "Stop Bot",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Discord Webhook": {
      "main": [
        [
          {
            "node": "Is Bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot?": {
      "main": [
        [
          {
            "node": "Stop Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Python API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-29T00:00:00.000Z"
}